@charset "utf-8";

*{
	font-size:9pt;
	border:0;
	margin:0;
	padding:0;
	}

body{
	font-family:'微软雅黑';
	margin:0 auto;
	min-width:980px;
	}

ul{
	display:block;
	margin:0;
	padding:0;
	list-style:none;
	}

li{
	display:block;
	margin:0;
	padding:0;
	list-style: none;
	}

img{
	border:0;
	}

dl,dt,dd,span{
	margin:0;
	padding:0;
	display:block;
	}

a,a:focus{
	text-decoration:none;
	color:#000;
	outline:none;
	blr:expression(this.onFocus=this.blur());
	}

a:hover{
	color:#00a4ac;
	text-decoration:none;
	}

table{
	border-collapse:collapse;
	border-spacing: 0;
	}

cite{
	font-style:normal;
	}

h2{
	font-weight:normal;
	}

/*cloud*/

#mainBody {width:100%;height:100%;position:absolute;z-index:-1;}
.cloud {position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(../images/logo/cloud.png) no-repeat;z-index:1;opacity:0.5;}
#cloud2 {z-index:2;}


/*login*/
.logintop
{
	height:47px;
	position:absolute;
	top:0; 
	background:url(../images/icon/loginbg1.png) repeat-x;
	z-index:100; 
	width:100%;
	}

.logintop span{
	color:#fff; 
	line-height:47px;
	background:url(../images/icon/loginsj.png) no-repeat 21px 18px; 
	text-indent:44px; color:#afc5d2; float:left;
	}

.logintop ul{
	float:right; 
	padding-right:30px;
	}

.logintop ul li{
	float:left;
	margin-left:20px;
	line-height:47px;
	}

.logintop ul li a{
	color:#afc5d2;
	}

.logintop ul li a:hover{
	color:#fff;
	}

.loginbody{
	background:url(../images/icon/loginbg3.jpg) no-repeat center center; 
	width:100%; 
	height:585px; 
	overflow:hidden; 
	position:absolute; 
	top:47px;
	}

.systemlogo{
	background:url(../images/logo/loginlogo.png) no-repeat center;
	width:100%; 
	height:100px; 
	margin-top:50px;
	}

.loginbox{
	width:692px; 
	height:336px; 
	background:url(../images/background/logininfo.png) no-repeat; 
	margin-top:30px;
	}

.loginbox ul{
	margin-top:88px; 
	margin-left:285px;
	}

.loginbox ul li{
	/*margin-bottom:25px;*/
	}

.loginbox ul li label{
	color:#687f92; padding-left:25px;
	}

.loginbox ul li label a{
	color:#687f92;
	}

.loginbox ul li label a:hover{
	color:#3d96c9;
	}

.loginbox ul li label input{
	margin-right:5px;
	}

.loginuser{
	width:299px; 
	height:48px; 
	background:url(../images/icon/loginuser.png) no-repeat; 
	border:none; 
	line-height:48px; 
	padding-left:44px;
	font-size:14px; 
	color:#90a2bc;
	}

.loginpwd{
	width:299px; 
	height:48px; 
	background:url(../images/icon/loginpassword.png) no-repeat; 
	border:none;
	line-height:48px; 
	padding-left:44px; 
	font-size:14px; 
	color:#90a2bc;
	}

.loginbtn{
	width:111px;
	height:35px; 
	background:url(../images/background/buttonbg.png) repeat-x;
	font-size:14px; 
	font-weight:bold; 
	color:#fff;
	cursor:pointer; 
	line-height:35px;
	}

.loginbm{
	height:50px; 
	line-height:50px; 
	text-align:center;
	background:url(../images/icon/loginbg2.png) repeat-x;
	position:absolute;
	bottom:0; 
	width:100%; 
	color:#0b3a58;
	}

.loginbm a{
	font-weight:bold;
	color:#0b3a58;
	}

.loginbm a:hover{
	color:#fff;
	}
