body {
}
.sg_content{
    height:auto;
    width:100%;

}
/*学生成绩展示页面上部*/
.sg_content_top {
    height:50px;
    width:100%;
}
/*学生成绩展示列表*/
.sg_content_tb{


}
.top_btn{
   vertical-align:middle;
    margin-top:10px;
    color:#1e90ff;
}
.top_btn :hover{
    color:red;
}
#cphBody_content_grdv_sg{
    text-align:center;
     width:1000px;
     line-height:40px;
     border:1px dotted #1E90ff;
}
.sg_cotent_bottom{

}