body {
}
/*头部返回菜单*/
.si_top{
    background-color:white;
}
.top_lbl{
    vertical-align:middle; /*内容垂直居中*/
    margin:15px 0 0 30px;
}
.top_btn{
   vertical-align:middle;
    margin-top:10px;
    color:#1e90ff;
}
.top_btn :hover{
    color:red;
}
/*学生（个人）信息详情页面*/
.infoborder{
    width:950px;
    height:500px;
    margin:60px 0 0 60px;
    border:1px solid #6699FF;
}
.SInfo{
    width:800px;
    height:450px;
    margin-left:75px;
    margin-top:15px;
    /*border:1px dotted #808080;*/
}
.infobox{
    margin:10px 0 10px 20px;
    height:25px;
   
}
/*.infobox label{
    float:left;

}
.infobox div{

}*/
.infotop{
    height:240px;
}
.idnamesexbir{
    margin:10px 0 10px 30px;
    float:left;
}
.picture{
    width:100px;
    height:150px;
    float:left;
    margin:10px 0 10px 180px;
    border:1px solid #6699FF;
}
.infobottom{

}
.infobottom_left{
    float:left;
    margin-left:30px;
}
.infobottom_right{
    float:left;
    margin-top:25px;
    margin-left:100px;
}