body {
}
.tg_top{

}
.tg_content{
     width:750px;
     height:400px;
     border:1px solid #6699FF;
     margin:30px 0 0 50px;
     padding-top:30px;
}
.tg_content_info{
    text-align:center;
    
}
.tg_content_btn{
    margin:40px 0 0 300px;
}
.tg_bottom{

}