<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
       
        <add name="conn" connectionString="Data Source=pc-zuoxy\SQLExpress;Initial Catalog=StudentServer;Persist Security Info=True;User ID=admin;Password=admin" />
        <add name="StudentServer_cs_course" connectionString="Data Source=pc-zuoxy\SQLExpress;Initial Catalog=StudentServer;Persist Security Info=True;User ID=admin;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
